body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    background: #34495e;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: #1abc9c;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Login */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
}

.login-box input,
.login-box select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #1abc9c;
    border: none;
    color: white;
}
.form-box {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 8px 15px;
    background: #1abc9c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.small-btn {
    padding: 5px 10px;
    background: #3498db;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.convert-btn {
    padding: 5px 10px;
    background: green;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}